#navigation {
  background-color: #6699ff;
  height: 10vh;
  border-radius: 0px 0px 16px 16px;
  color: #ffffff;
}

#title {
  font-size: 1.8rem;
  font-family: fantasy;
}

.login_space {
  flex: 1 1 auto;
}
.input {
  margin-right: 16px;
  font-size: 0.5em;
}

.signButton {
  margin-left: 16px;
}

#logo:hover {
  cursor: pointer;
}
