<mat-toolbar>
  <mat-toolbar-row id="navigation">
    <div id="logo" routerLink="/"><span id="title" i18n="@@powierzenia3000">Powierzenia 3000</span></div>
    <span class="login_space"></span>
    <div *ngIf="auth.user$ | async as user; else login">
      Witaj, {{ roleMap.roleFromResponse(user.role) }}, id:
      {{ user.databaseId }}
      <span *ngIf="auth.currentLecturer$ | async as lecturer">
        {{ lecturer.name }}</span
      >
      <button class="signButton" mat-raised-button routerLink="/profile">
        Mój Profil
      </button>
      <button class="signButton" mat-raised-button (click)="auth.signOut()">
        Wyloguj
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #login>
  <form>
    <mat-form-field class="input">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="emailText" name="email" />
      <button
        mat-button
        *ngIf="emailText"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="emailText = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint *ngIf="firstNameAutofilled">Autofilled!</mat-hint>
    </mat-form-field>

    <mat-form-field class="input">
      <input
        matInput
        placeholder="Hasło"
        [type]="hide ? 'password' : 'text'"
        [(ngModel)]="passwordText"
        name="password"
      />
      <button
        mat-button
        *ngIf="passwordText"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="passwordText = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button
        class="signButton"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button (click)="signIn()">Zaloguj</button>
  </form>
</ng-template>

<section id="whole_container">
  <router-outlet></router-outlet>
</section>
